# Byte-compiled / compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django secret keys and environment variables
.env
*.env

# Database files
*.sqlite3
db.sqlite3

# Static and media files
staticfiles/
media/

# Logs
*.log
logs/
*.out

# Django migration files
**/migrations/**/000*.py

# Python dependencies
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

# IDE / Editor-specific files
.vscode/
.idea/
*.swp
*.swo

# MacOS system files
.DS_Store

# Coverage reports
htmlcov/
.coverage
*.cover

# Build artifacts
build/
dist/
*.egg
MANIFEST

# Deployment-specific files
*.pid
*.sock
*.crt
*.key
